body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f9ff;
    color: #222;
    text-align: center;
}

header {
    background: #0073e6;
    padding: 40px;
    color: white;
}

section {
    margin: 30px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer {
    margin-top: 40px;
    padding: 15px;
    background: #0073e6;
    color: white;
}
